@model IEnumerable<MVC.Models.Cliente>

@{
    ViewData["Title"] = "Lista de clientes";
}

<h1>Lista de clientes</h1>

<p>
    <a asp-action="Create">Criar novo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data de nascimento
            </th>
            <th>
                Renda
            </th>
            <th>
                Sexo
            </th>
            <th>
                E-mail
            </th>
            <th>
                Endereco
            </th>
            <th>
                CPF
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascFund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendaLucro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodCli">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodCli">Detalhe</a> |
                <a asp-action="Delete" asp-route-id="@item.CodCli">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
